:root{
    --primary-color: black;
    --transparent-black: rgba(0, 0, 0, 0.4);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
label{
    float: right;
}
.container{
    background-color: red;
    margin: 0;
    width: 100%;
    text-transform: uppercase;
}
.nav-container{
    text-align: center;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    background: white;
    width: 70%;
    border-bottom: 3px solid #000;
    border-top: 1px solid #ddd;
}
.nav-container li{
    display: inline-block;
    zoom: 1;
    *display: inline;
    padding: 1% 6%;
}
.nav-container li a{
    text-decoration: none;
    color: #000;
    line-height: 1.5em;
}
.nav-container li a:hover{
    color: maroon;
}
header{
    height: 100vh;
    width: 100%;
    background: url(images/local.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
@media(max-width: 560px){
    .container{
        display: none;
    }
}
@media(min-width: 561px){
    label{
        display: none;
    }
}
